* {
	box-sizing: border-box;
}
a:link{
	color: #EB5757;
}
a:visited{
	color: black;
}
a:hover{
	background-color: rgb(240,240,240);
}
a:active{
	border: 1px solid rgb(240,240,240);
	background-color: rgb(248,248,248);
}
.content-wrapper{
	max-width: 64em;
	padding: 0rem 6rem;
	margin: 0 auto;
	margin-bottom: 3rem;
	font-size: 1.1rem;
	word-wrap: break-word;
}
body{
	color: #606c71;
	font-size: 16px;
    line-height: 1.5;
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-wrapper h2, .content-wrapper h3 {
	color: #EB5757;
	margin-top: 2rem;
}

/*--------------------------------------------------------------------------------------------------------
	Define animation for programming languages in header */

hgroup#planguages-animation{
	margin: 3rem 0 0 0 ;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Courier New', monospace;
}
hgroup#planguages-animation h3{
	margin: 0;
	padding: 0;
	font-size: 40px;
}
hgroup#planguages-animation h3 span{
	display: inline-flex;
}
hgroup#planguages-animation h3 span:nth-child(even) {
	overflow: hidden;
	transition: ease-in-out 0.5s;
	letter-spacing: -1em;
}
header:hover > hgroup#planguages-animation h3 span:nth-child(even) {
	letter-spacing: 0;
}

/* Transition delays for each even child */

header:hover > hgroup#planguages-animation h3 span:nth-child(2) {
	transition-delay: 0.0s;
}
header:hover > hgroup#planguages-animation h3 span:nth-child(4) {
	transition-delay: 0.33s;
}
header:hover > hgroup#planguages-animation h3 span:nth-child(6) {
	transition-delay: 0.67s;
}
header:hover > hgroup#planguages-animation h3 span:nth-child(8) {
	transition-delay: 1.0s;
}

/* End animation code
---------------------------------------------------------------------------------------------------------*/

header, header h1, header h2, header h3{
	margin: 0;
	padding: 0;
}
h1{
	font-size: 2rem;
	margin: 0.67em 0;
	font-weight: bold;
}
h2{
	font-size: 1.5rem;
	padding-top: 1.5rem;
}
h3{
	font-size: 1.2rem;
	margin: 0.67em 0;
	font-weight: normal;
}
footer, h1, h2, h3 {
	display: block;
}
header, footer{
	color: white;
	text-align: center;
}
html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
img{
	width: auto ;
	max-width: 50% ;
	height: auto ;
}
.page-header{
	padding: 3rem;
	background-image: linear-gradient(120deg, #EB5757, #921515);
}
.page-footer{
	padding: 0.1em;
	font-size: 0.75rem;
	background-color: rgb(27, 27, 27)
}
.page-description{
	opacity: 0.7;
	font-size: 1.25rem;
	margin-top: 1rem;
	font-weight: normal;
}
.page-name{
	font-size:3.25rem;
	margin: 0;
}
.pagenav{
	font-size: 0.8rem;
	padding: 1rem 0rem;
	text-align: center;
}
