* {
	box-sizing: border-box;
}
#about-me{
	color: blueviolet;
}
.content-wrapper{
	max-width: 64em;
	padding: 2rem 6rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	font-size: 1.1rem;
	word-wrap: break-word;
}
body{
	color: #606c71;
	font-size: 16px;
    line-height: 1.5;
	padding: 0;
	margin: 0;
	text-align: left;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-wrapper h1, .content-wrapper h2, .content-wrapper h3{
	margin-top: 2rem;
}
#favorites h3{
	color: blueviolet;
}
footer{
	display: block;
	font-size: 0.75em;
}
h1{
	font-size: 2em;
	margin: 0.67em 0;
	display: block;
	font-weight: bold;
}
h2{
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h3{
	display:block;
	font-size: 1.2em;
	margin: 0.67em 0;
	font-weight: normal;
}
header{
	display: block;
}
html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
#links{
	margin-top: 4em;
}
.page-header{
	padding: 5rem 6rem;
	color: white;
	text-align: center;
	background-color: blueviolet;
	background-image: linear-gradient(120deg, blue, blueviolet);
}
.page-footer{
	padding: 0.1em;
	color: white;
	text-align: center;
	background-color: rgb(27, 27, 27)
}
.page-description{
	opacity: 0.7;
	font-size: 1.25rem;
	margin-bottom: 2rem;
	font-weight: normal;
}
.page-name{
	font-size:3.25rem;
	margin-top: 0;
	margin-bottom: 0.1rem;
}
.pagenav{
	font-size: 0.8rem;
	word-wrap: break-word;
	padding: 1rem 0rem;
	text-align: center;
}
